# Consultancy: Semantix

## Customer: Santander

#### Data Enginner: Rodolfo Terra

#### Date: 2021 - 12 - 02

# TESTE DE CONHECIMENTO APLICAVEL

iga os passos de pré-requisitos e faça upload do arquivo cadastro.csv e ranking.csv no espaço informado, o arquivo será carregado para dentro do ambiente dbfs do databricks

### Listando diretorios
display(dbutils.fs.ls("dbfs:/FileStore/tables"))

In [3]:
# Packages -------------------------------
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import udf
from pyspark.sql.functions import desc
from pyspark.sql.functions import asc
from pyspark.sql.functions import sum as Fsum

import datetime

import numpy as np
import pandas as pd

## Questões

Utilizando o DataFrame df responda as questões abaixo:

### 1.    Adicionar 1 coluna com um contador sequencial por Município e ordenar por Estado; Nomear "agrupador"

In [4]:
spark = SparkSession \
        .builder \
        .appName("wranglig_data_santander") \
        .getOrCreate()

In [8]:
path = "data_santander/cadastro.csv"
df = spark.read.csv(path)

In [10]:
df.show()

+---+--------+-----------+-----------------+----------+
|_c0|     _c1|        _c2|              _c3|       _c4|
+---+--------+-----------+-----------------+----------+
|  1|    Jose|   Anapolis|        Sao Paulo|01/09/1900|
|  3|Leonardo|   Anapolis|        Sao Paulo|21/12/2000|
|  2|    Igor|   Anapolis|        Sao Paulo|11/09/1977|
|  5|Humberto|Pato Branco|Rio Grande do Sul|13/11/1964|
|  4|   Pedro|  Sao Paulo|        Sao Paulo|18/01/2000|
|  6|  Isaias|Pato Branco|Rio Grande do Sul|07/07/2002|
|  7|   Lucas|       Taua|            Ceara|05/09/1984|
|  8| Marcelo|     Osasco|        Sao Paulo|07/01/1992|
+---+--------+-----------+-----------------+----------+

### 2.    Adicionar 1 coluna com a Idade em anos; Nomear "idade"

In [12]:
df.withColumn("idade",10).show()

TypeError: col should be Column

### 3.    Adicionar 1 coluna com a data de atualização, preenchendo com a data do dia da execução, formatar como dia-mes-ano(dd/MM/yyyy); Nomear "dt_atualizacao"

### 4.    Atualizar coluna cod_usuario, formatar o campo com 3 posições a esquerda completando com “0”.

### 5.    Transfira as modificações para um novo DataFrame nomeado dfCadastro e exiba o resultado das modificações acima ordenando pelo campo cod_usuario

## Enriquecendo nossa base
Faça upload do arquivo ranking.csv e carregue em um dataframe com o nome dfRanking

/FileStore/tables/ranking.csv

1.    Schema do arquivo ranking.csv:

    *    cod_ranking

    *    cod_usuario

    *    ranking

## Questões
Crie um novo dataframe dentro das condições abaixo:

### 1.    Relacione os dois DataFrames, cadastro e ranking, para avaliarmos a classificação de nossos usuarios

### 2.    filtre apenas os usuarios que possuem algum ranking

### 3.    Selecione apenas as colunas cod_usuario, nome, ranking, idade

### 4.    Exiba quantos usuarios possuem valor

# Teste Conceitual
Defina a diferença de transformação e ação dentro do conceito "lazy evaluation" do spark

### Defina o que é ação e transformação para os itens abaixo:

·         show

·         join

·         groupBy

·         count

·         sum

·         withColumn

·         write

·         select

### Qual das maneiras abaixo é possível ordenar os feature "requests" decrescente,

·         df.orderBy("requests desc")

·         df.orderBy("requests").desc()

·         df.orderBy(col("requests").desc())

### Muitos arquivos pequenos geram conflito na continuidade da leitura e transformação do dado.

Qual comando podemos utilizar ou de qual maneira podemos fazer para minimizar o problema de "small files" gerado na gravação do parquet

# Teste final
Descrição da Tarefa:
·         Dado um dataframe com duas colunas [id_cliente, categorias].

·         Fazer um dataframe resultado, com uma coluna pra cada tipo de categoria, com valor 1 caso aquela categoria exista e 0 caso não exista, isso para cada cliente (one-hot-encoded).

·         Regras:

o    Pode usar qualquer biblioteca auxiliar.

o    O número de categorias é dinamico e não conhecido de antemão.

o    O script tem que funcionar para os dois dataframes exemplos.

o    Os seus dataframes resposta têm que ser exatamente iguais aos apresentados no documento.

o    O script deve executar com o menor tempo possível.

Obs: resultado esperado encontra-se no documento entregue para o teste

Elaboração do teste realizado por Samuel Otero Schmidt